body {
  background-color: #EEEDEB !important;
  }
  
  .container {
  border: 12px double black;
  width: 300vh;
  height: 13vh;
  }
  
  .container h1 {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px;
  font-family: "Abril Fatface", serif;
  font-weight: 300;
  font-style: normal;
  }

  h1 {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: "Abril Fatface", serif; 
  }
  
  #library-heading {
    color: #B3A398; 
    animation-duration: 2s;
  }

.quote {
  display: flex !important;
  width: 150vh;
  

}

.quote p {
margin-left: 150px; 
color: black !important;
animation: fadeInRight;
animation-duration: 3s;
font-family: "EB Garamond", serif;
font-size: 20px;
margin-bottom: 50px;
}

  .container h1 {
    height: 98px;
    margin-top: 6px;
    background-color: white;
    animation-name: example;
    animation-duration: 20s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
  }
  
  @keyframes example {
    0%   {background-color: #76885b;}
    25%  {background-color: #afd198;}
    50%  {background-color: #e9d5da;}
    75%  {background-color: #827397;}
    100% {background-color: #4d4c7d;}
        
    }

  .img-reading {
  display: flex;
  margin-bottom: 100px;
  margin-left: 80px;
  width: 390px;
  border: 6px solid white;
  border-radius: 8px;
  }
  
  .form-h1 {
    color: #B3A398;
    animation-duration: 2s;
  }
  